@media screen and (min-width:1249px){

    input, textarea{
        padding: 24px 40px;
    }
    .col-lg-24{
        width:100%;
    }
    .col-lg-22{
        width:91.6666%;
    }
    .col-lg-21{
        width:87.5%;
    }
    .col-lg-20{
        width:83.3333%;
    }
    .col-lg-19{
        width:79.1666%;
    }
    .col-lg-18{
        width:75%;
    }
    .col-lg-17{
        width:70.8333%;
    }
    .col-lg-16{
        width:66.6666%;
    }
    .col-lg-15{
        width:62.5%;
    }
    .col-lg-14{
        width:58.3333%;
    }
    .col-lg-13{
        width:54.1666%;
    }
    .col-lg-12{
        width:50%;
    }
    .col-lg-11{
        width:45.8333%;
    }
    .col-lg-10{
        width:41.6666%;
    }
    .col-lg-9{
        width:37.5%;
    }
    .col-lg-8{
        width:33.3333%;
    }
    .col-lg-7 {
        width:29.1666%;
    }
    .col-lg-6{
        width:25%;
    }
    .col-lg-5{
        width:20.8333%;
    }
    .col-lg-4{
        width:16.6666%;
    }
    .col-lg-3{
        width:12.5%;
    }
    .col-lg-2{
        width:8.3333%;
    }
    .hidden-lg{
        display:none!important;
    }
    .container{
        max-width:1400px;
        width: 85%;
    }
    .title-1{
        font-size: 225%;
    }
    .title-1 + *{
        margin-top: 15px;
    }
    .title-2{
        font-size: 175%;
    }
    .title-3{
        font-size: 137.5%;
    }
    .title-2 + *,
    .title-3 + *{
        margin-top: 10px;
    }
    .title-4{
        font-size: 125%;
    }
    .title-5{
        font-size: 114%;
    }
    .title-5 + *{
        margin-top: 10px;
    }
    .btn{
        padding: 25px 45px;
    }
    .btn-arrow{
        padding-right: 131px;
    }
    .btn .icon-arrow,
    .btn .icon-arrow-orange{
        right: -1px;
        padding: 0 43px;
    }
    .def_form-item + .def_form-item.def_form_footer{
        margin-top: 25px;
    }
    .section{
        padding: 50px 0;
    }
    .section_hr{
        padding: 25px 0;
    }
    .input_icon > .icon{
        top: calc(50% - 6px);
        left: 45px;
    }
    .input_icon > input{
        padding-left: 80px;
        padding-right: 45px;
    }
    .header-menu-item{
        padding: 15px 30px;
    }
    .header-menu-item.active,
    .header-menu-item:hover{
        background-color: #fff;
    }
    .header-menu-item:hover{
        box-shadow: 0 0 10px #adabab;
    }
    .header-menu-item:first-child:before,
    .header-menu-item:not(:last-child):after{
        content: "";
        position: absolute;
        top: 33.3333%;
        width: 1px;
        height: 33.3333%;
        background-color: #fff;
    }
    .header-menu-item:first-child:before{
        left:0;
    }
    .header-menu-item:not(:last-child):after{
        right: 0;
    }
    .header-menu_btn{
        padding: 0 32px;
    }
    .header-menu_btn + .logo{
        margin-left: 45px;
    }
    .logo > img{
        max-width: 55px;
    }
    .header-col{
        padding: 32px;
    }
    .main_slider .slick-dots{
        position: absolute;
        bottom: 40px;
        left: 0;
        width: 100%;
        margin: 0;
        padding: 0;
        text-align: center;
    }
    .main_slider .slick-dots > li{
        display: inline-block;
        vertical-align: middle;
        width: 10px;
        height: 10px;
        position: relative;
        transition-property: width, height;
        transition-duration: .3s;
    }
    .main_slider .slick-dots > li + li{
        margin-left: 8px;
    }
    .main_slider .slick-dots > li.slick-active{
        width: 13px;
        height: 13px;
    }
    .main_slider .slick-dots > li > button{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 0;
        text-indent: -9999px;
        border-radius: 100%;
        border: 1px solid #f56d01;
        background-color: transparent;
        transition-property: background-color, width, height;
        transition-duration: .3s;
    }
    .main_slider .slick-dots > li.slick-active > button{
        background-color: #f56d01;
    }
    .main_slider-item{
        height: 800px;
    }
    .main_slider-block{
        margin-bottom: 30px;
    }
    .main_slider-description-title,
    .banner-title{
        font-size: 257%;
    }
    .main_slider-description-price{
        font-size: 235%;
    }
    .catalog_slider,
    .catalog_section{
        margin-left: -15px;
        margin-right: -15px;
    }
    * + .catalog_slider{
        margin-top: 35px;
    }
    * + .catalog_section{
        margin-top: 30px;
    }
    .catalog_item,
    .catalog_section-item{
        padding: 30px;
    }
    .catalog_slider .catalog_item,
    .catalog_section .catalog_section-item{
        margin-left: 15px;
        margin-right: 15px;
    }
    [items-count] .catalog_item{
        margin-bottom: 15px;
    }
    .catalog_item:hover{
        border-color: transparent;
    }
    .catalog_item-img{
        height: 150px;
    }
    .catalog_item-img .sale_label{
        position: absolute;
        right: 0;
        bottom: -20px;
    }
    .catalog_item-block{
        margin-bottom: 20px;
    }
    .catalog_item-footer-part{
        padding: 0 15px;
        position: relative;
    }
    .catalog_item-footer-part:nth-child(3n-2){
        padding-left: 0;
    }
    .catalog_item-footer-part:not(:nth-child(3n-2)):before{
        content: "";
        position: absolute;
        left: 0;
        top: calc(50% - 5px);
        width: 1px;
        height: 10px;
        background-color: #e5e5e5;
    }
    .catalog_item-footer-part:nth-child(3n){
        padding-right: 0;
    }
    .catalog_item .btn,
    .catalog_detail-description-item .btn{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .catalog_item-hover{
        padding: 30px;
        box-shadow: 0 0 15px #e1e1e1;
        opacity: 0;
        transition: .3s opacity;
    }
    .catalog_item:hover .catalog_item-hover{
        opacity: 1;
    }
    .catalog_slider .slick-arrow{
        width: 70px;
        height: 70px;
        border-radius: 100%;
        position: absolute;
        top: calc(50% - 35px);
        box-shadow: 0px 0px 10px #adabab;
        background-color: #fff;
        background-image: url("../images/icons/right-arrow-black.png");
        background-repeat: no-repeat;
        background-position: 50% 50%;
        transition-property: background-position, opacity;
        transition-duration: .3s;
        z-index: 1;
    }
    .catalog_slider .slick-arrow.arrow-left{
        right: -70px;
    }
    .catalog_slider .slick-arrow.arrow-right{
        left: -70px;
        transform: rotate(180deg);
    }
    .catalog_slider .slick-arrow.arrow-left:hover,
    .catalog_slider .slick-arrow.arrow-right:hover{
        background-image: url("../images/icons/right-arrow-orange.png");
        background-position: 65% 50%;
    }
    .catalog_list-content + .catalog_list-content{
        margin-top: 50px;
    }
    .catalog_item .btn
    .catalog_item-block{
        margin-bottom: 20px;
    }
    .catalog_item-price{
        font-size: 160%;
    }
    .banner {
        padding: 50px 100px;
    }
    .gallery-item{
        width: 20%;
        height: 316px;
        font-size: 72%;
    }
    .gallery-item-description{
        bottom: 25px;
        left: 35px;
        right: 35px;
    }
    .main_map{
        height: 800px;
    }
    .footer_copyright{
        padding: 20px 0 25px;
        margin-top: 50px;
    }
    .popup_content {
        width: 660px;
        max-height: 90%;
    }
    .popup_content.small{
        width: 440px;
    }
    .popup_content.product{
        width: 80%;
    }
    .popup_content-inner{
        padding: 50px 70px;
    }
    .content_tab{
        margin-bottom: 30px;
    }
    .catalog_detail-tab-item:first-child{
        text-align: right;
    }
    .footer {
        padding-top: 55px;
    }
    .footer .logo{
        margin-bottom: 30px;
    }
    .footer_menu-item + .footer_menu-item{
        margin-top: 10px;
    }
    .catalog_section-item{
        width: calc(100% / 6 - 30px);
        margin-bottom: 15px;
    }
    .catalog_detail{
        margin-top: 30px;
    }
    .catalog_detail-description-item .btn{
        padding-left: 20px;
        padding-right: 111px;
    }
    .gallery-title{
        font-size: 133.3333%;
    }
    .gallery-bottom{
        margin-top: 30px;
        padding-top: 30px;
    }
    .gallery-bottom > * + * {
        margin-left: 20px;
    }
    .content_tab-item{
        font-size: 85.7%;
    }
    .content_tab-item,
    .catalog_detail-tab-item{
        padding: 24px;
    }
    .catalog_menu-wrap{
        top: 100%;
        left: -100%;
        width: 100%;
    }
    .catalog_menu-wrap.active{
        left: 0;
    }
    .catalog_menu{
        width: calc(100% - 249px);
    }
    .catalog_menu-nav{
        width: 82px;
    }
    .catalog_menu-nav-item{
        display: block;
        border: 1px solid #d6d6d6;
        border-top: 0;
        border-left-color: #f6f6f6;
        padding: 25px 8px;
    }
    .catalog_menu-nav-item:hover,
    .catalog_menu-nav-item.active{
        background-color: #f7f7f7;
        box-shadow: 0px 0px 10px #adabab;
    }
    .catalog_menu-main{
        width: calc(100% - 82px);
        background-color: #f7f7f7;
        border-top: 1px solid #f1f1f1;
        border-bottom: 1px solid #f1f1f1;
    }
    .catalog_menu-item{
        width: 20%;
        height: 195px;
        border-right: 1px solid #f1f1f1;
        border-bottom: 1px solid #f1f1f1;
        padding: 50px 30px;
    }
    .catalog_menu-item:hover{
        background-color: #fff;
        box-shadow: 0px 0px 10px #adabab;
    }
    .catalog_menu-item,
    .catalog_menu-nav-item{
        text-align: center;
        line-height: 1.2;
        font-size: 87.5%;
        transition-property: box-shadow, background-color;
        transition-duration: .3s;
    }
    .catalog_menu-nav-item > img,
    .catalog_menu-item > img{
        display: block;
        margin-bottom: 10px;
    }
    .product_preview-nav{
        width: 86px;
        margin-right: 2px;
    }
    .product_preview-nav-item{
        height: 130px;
    }
    .product_preview-description{
        padding-left: 45px;
    }
    .product_preview-img_big{
        width: calc(100% - 88px);
    }
    .product_preview-img_big-item{
        height: 666px;
    }
    .product_preview .product_preview-img_big-item{
        height: 535px;
    }
    .catalog_color-item + .catalog_color-item{
        margin-left: 20px;
    }
    .breadcrumbs{
        padding: 15px 0;
    }
    .delivery-payment-descr{
        width: 85%;
        padding: 20px 40px;
        margin-bottom: 50px;
    }
    .delivery-payment-info-item {
        padding: 7%;
    }
    .delivery-payment-info-item:first-child{
        width: 43%;
    }
    .delivery-payment-info-item:first-child .title-4 {
        margin-bottom: 30px;
    }
    .delivery-payment small{
        margin-bottom: 20px;
    }
    .delivery-payment-info-item:nth-child(2){
        width: 53%;
    }
    .delivery-payment-info-item .title-2{
        margin-bottom: 25px;
    }
    .delivery-payment-table {
        margin-top: 50px;
    }
    .delivery-payment-table td{
        padding: 20px;
    }
    .company-employees-photo{
        margin-bottom: 70px;
    }
    .company-info-item:first-child{
        padding: 50px;
    }
    .company-info-item .title-2{
        margin-bottom: 25px;
    }
    .company-text {
        margin-top: 60px;
    }
    .company-galary {
        margin-top: 30px;
    }
    .company-galary-item{
        padding: 30px 30px 0 30px;
        min-height: 200px;
    }
    .company-galary-item img {
        margin-bottom: 20px;
        height: 90px;
    }
    .title-1 + .feedback-btn{
        margin-top: -46px;
    }
    .feedback-list {
        margin-top: 30px;
    }
    .feedback-list-item{
        padding: 30px 50px;
        margin-bottom: 20px;
    }
    .user-info-txt {
        margin-bottom: 50px;
    }
    .feedback-list-item img {
        height: 150px;
    }
    .feedback-stars {
        margin-bottom: 15px;
    }
    .feedback-like i {
        margin-right: 10px;
    }
    .feedback-empty{
        height: 560px;
    }
    .form-item-rate {
        margin-right: 20px;
    }
    .file_input label{
        padding: 28px 0;
    }
    .basket-info {
        margin-bottom: 40px;
    }
    .basket-txt {
        padding: 30px 70px;
        margin-top: 50px;
    }
    .basket-txt .catalog_item-price > *:first-child {
        padding-right: 10px;
    }
    .basket-txt .catalog_item-price > *:last-child {
        padding-left: 10px;
    }
    .basket-item {
        padding: 100px;
    }
    .basket-steps {
        padding: 60px;
        margin-top: 70px;
    }
    .basket-steps-item {
        margin-top: 20px;
        padding: 50px 100px;
    }
    .basket-steps-item .catalog_item-price {
        margin: 10px 0 30px 0;
    }
    .basket-steps-item .def_form-item + .def_form-item:last-child {
        margin-top: 10px;
    }
    .step-label {
        padding: 10px;
    }
    .basket-icon {
        margin: 30px 50px 65px 0;
    }
    .basket-icon img {
        width: 64px;
        margin-right: 15px;
    }
    .basket-payment {
        margin-bottom: 95px;
    }
    .basket-txt-politic {
        margin-top: 20px;
    }
    .catalog_label{
        padding: 15px 20px;
    }
    [flex-align] .catalog_label + *{
        margin-left: 10px;
    }
    .catalog_label + .title-2.for_label{
        margin-top: 20px;
    }
    .catalog_list-top{
        padding: 26px 0 26px 25px;
    }
    .catalog_list-top-links > a + a{
        margin-left: 20px;
    }
    .catalog_filter-inner-content,
    .catalog_list-content{
        padding-top: 30px;
        padding-left: 15px;
    }
    .catalog_filter-inner-content{
        padding-right: 15px;
        padding-bottom: 30px;
    }
    .catalog_filter-item + .catalog_filter-item{
        margin-top: 25px;
    }
    .catalog_filter-item input[type="text"],
    .catalog_filter-item select{
        padding: 11px 15px;
    }
    .catalog_filter-title{
        margin-bottom: 15px;
        font-size: 114%;
    }
    .catalog_detail-description-item:not(:last-child){
        padding-right: 30px;
        margin-right: 30px;
        width: calc(25% - 30px);
        border-right: 1px solid #fff;
    }
    .news_list-item{
        margin-bottom: 40px;
    }
    .news_list-img{
        height: 200px;
    }
    #map{
        height: 800px;
    }
    .catalog_list-top .dropdown-btn{
        margin: -26px 0;
        padding: 26px 40px;
    }
    .dropdown-content_inner{
        padding: 30px 50px;
    }
    .articles_list-img{
        height: 150px;
    }
    .header_search{
        overflow: hidden;
    }
    .header_search input{
        border: 0;
        padding: 0;
        width: 1px;
        transition: width .5s;
    }
    .header_search:hover input{
        width: 470px;
    }
    .header_search-btn{
        padding: 0;
        margin: 0;
        border: 0;
    }
    .header_search:hover input + .header_search-btn{
        margin-left: 32px;
    }
}
