@media screen and (min-width:1224px){

    input, textarea{
        padding: 24px 40px;
    }
    .col-lg-24{
        width:100%;
    }
    .col-lg-22{
        width:91.6666%;
    }
    .col-lg-21{
        width:87.5%;
    }
    .col-lg-20{
        width:83.3333%;
    }
    .col-lg-19{
        width:79.1666%;
    }
    .col-lg-18{
        width:75%;
    }
    .col-lg-17{
        width:70.8333%;
    }
    .col-lg-16{
        width:66.6666%;
    }
    .col-lg-15{
        width:62.5%;
    }
    .col-lg-14{
        width:58.3333%;
    }
    .col-lg-13{
        width:54.1666%;
    }
    .col-lg-12{
        width:50%;
    }
    .col-lg-11{
        width:45.8333%;
    }
    .col-lg-10{
        width:41.6666%;
    }
    .col-lg-9{
        width:37.5%;
    }
    .col-lg-8{
        width:33.3333%;
    }
    .col-lg-7 {
        width:29.1666%;
    }
    .col-lg-6{
        width:25%;
    }
    .col-lg-5{
        width:20.8333%;
    }
    .col-lg-4{
        width:16.6666%;
    }
    .col-lg-3{
        width:12.5%;
    }
    .col-lg-2{
        width:8.3333%;
    }
    .hidden-lg{
        display:none!important;
    }
    .container{
        max-width:1410px;
        min-width:1061px;
        width: 85%;
    }
    .title-1{
        font-size: 225%;
    }
    .title-1 + *{
        margin-top: 23px;
    }
    .title-2{
        font-size: 175%;
    }
    .title-3{
        font-size: 137.5%;
    }
    .title-2 + *,
    .title-3 + *{
        margin-top: 10px;
    }
    .title-4{
        font-size: 125%;
    }
    .title-5{
        font-size: 114%;
    }
    .title-5 + *{
        margin-top: 10px;
    }
    .btn{
        padding: 25px 45px;
    }
    .btn-arrow{
        padding-right: 131px;
    }
    .btn .icon-arrow,
    .btn .icon-arrow-orange{
        right: -1px;
        padding: 0 43px;
    }
    .def_form-item + .def_form-item.def_form_footer{
        margin-top: 25px;
    }
    .section{
        padding: 56px 0;
    }
    .breadcrumbs + .section,
    .breadcrumbs + section{
        padding-top: 50px;
    }
    main.inner + footer{
        margin-top: 44px;
    }
    .section_hr{
        padding: 25px 0;
    }
    .default_hr{
        margin: 75px 0;
    }
    .input_icon > .icon{
        top: calc(50% - 6px);
        left: 45px;
    }
    .input_icon > input{
        padding-left: 80px;
        padding-right: 45px;
    }
    .header-menu-item{
        padding: 15px 30px;
    }
    .header-menu-item.active,
    .header-menu-item:hover{
        background-color: #fff;
        box-shadow: 0 0 10px #adabab;
    }
    .header-menu-item:first-child:before,
    .header-menu-item:after{
        content: "";
        position: absolute;
        top: 33.3333%;
        width: 1px;
        height: 33.3333%;
        background-color: #fff;
    }
    .header-menu-item:first-child:before{
        left:0;
    }
    .header-menu-item:after{
        right: 0;
    }
    .header-menu_btn{
        padding: 0 32px;
    }
    .header-menu_btn + .logo{
        margin-left: 45px;
    }
    .logo > img{
        max-width: 55px;
    }
    .logo > svg{
        width: 165px;
    }
    .logo > svg .cls-1{
        fill: #383838;
    }
    .logo.bg{
        width: 180px;
        height: 62px;
    }
    .header-col{
        padding: 32px;
    }
    .main_slider .slick-dots{
        position: absolute;
        bottom: 40px;
        left: 0;
        width: 100%;
        margin: 0;
        padding: 0;
        text-align: center;
    }
    .main_slider .slick-dots > li{
        display: inline-block;
        vertical-align: middle;
        width: 10px;
        height: 10px;
        position: relative;
        transition-property: width, height;
        transition-duration: .3s;
    }
    .main_slider .slick-dots > li + li{
        margin-left: 8px;
    }
    .main_slider .slick-dots > li.slick-active{
        width: 13px;
        height: 13px;
    }
    .main_slider .slick-dots > li > button{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 0;
        text-indent: -9999px;
        border-radius: 100%;
        border: 1px solid #f56d01;
        background-color: transparent;
        transition-property: background-color, width, height;
        transition-duration: .3s;
    }
    .main_slider .slick-dots > li.slick-active > button{
        background-color: #f56d01;
    }
    .main_slider-item{
        height: 800px;
    }
    .main_slider-block{
        margin-bottom: 30px;
    }
    .main_slider-description-title,
    .banner-title{
        font-size: 257%;
    }
    .main_slider-description-price{
        font-size: 235%;
    }
    .catalog_slider,
    .catalog_section{
        margin-left: -15px;
        margin-right: -15px;
    }
    * + .catalog_slider{
        margin-top: 35px;
    }
    * + .catalog_section{
        margin-top: 25px;
    }
    .catalog_section{
        margin-bottom: -15px;
    }
    .catalog_item,
    .catalog_section-item{
        padding: 30px;
    }
    .catalog_slider .catalog_item,
    .catalog_section .catalog_section-item,
    .catalog_list-slider .catalog_item,
    [items-count] .catalog_item{
        margin-left: 15px;
        margin-right: 15px;
    }
    .catalog_section-item{
        width: calc(100% / 6 - 30px);
        margin-bottom: 15px;
    }
    [items-count] .catalog_item{
        margin-bottom: 15px;
    }
    .catalog_item:hover{
        border-color: transparent;
        overflow: visible;
    }
    .catalog_item-img{
        height: 150px;
    }
    .catalog_section-item .catalog_item-img{
        height: 90px;
    }
    .catalog_item-img .sale_label{
        position: absolute;
        left: 0;
        top: 0;
    }
    .catalog_item-block{
        margin-bottom: 25px;
    }
    .catalog_item-footer-part{
        padding: 0 15px;
        position: relative;
    }
    .catalog_item-footer-part:nth-child(3n-2){
        padding-left: 0;
    }
    .catalog_item-footer-part:not(:nth-child(3n-2)):before{
        content: "";
        position: absolute;
        left: 0;
        top: calc(50% - 5px);
        width: 1px;
        height: 10px;
        background-color: #e5e5e5;
    }
    .catalog_item-footer-part:nth-child(3n){
        padding-right: 0;
    }
    .catalog_item .btn,
    .catalog_detail-description-item .btn{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .catalog_item-hover{
        padding: 30px;
        box-shadow: 0 0 15px #e1e1e1;
        opacity: 0;
        transition: .3s opacity;
    }
    .catalog_item:hover .catalog_item-hover{
        opacity: 1;
        z-index: 1;
    }
    .catalog_slider .slick-arrow,
    .product_preview-nav .slick-arrow,
    .catalog_list-slider .slick-arrow{
        border-radius: 100%;
        position: absolute;
        box-shadow: 0 0 15px #e1e1e1;;
        background-color: #fff;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        transition-property: background-position, opacity;
        transition-duration: .3s;
        z-index: 1;
    }
    .catalog_slider .slick-arrow,
    .catalog_list-slider .slick-arrow{
        width: 70px;
        height: 70px;
        background-image: url("../images/icons/right-arrow-black.svg");
        background-size: 25%;
        top: calc(50% - 35px);
    }
    .catalog_slider .slick-arrow.arrow-left,
    .catalog_list-slider .slick-arrow.arrow-left{
        right: -70px;
    }
    .catalog_slider .slick-arrow.arrow-right,
    .catalog_list-slider .slick-arrow.arrow-right{
        left: -70px;
        transform: rotate(180deg);
    }
    .catalog_slider .slick-arrow.arrow-left:hover,
    .catalog_slider .slick-arrow.arrow-right:hover,
    .catalog_list-slider .slick-arrow.arrow-left:hover,
    .catalog_list-slider .slick-arrow.arrow-right:hover{
        background-image: url("../images/icons/right-arrow-orange.svg");
        background-position: 65% 50%;
    }
    .product_preview-nav .slick-arrow{
        width: 40px;
        height: 40px;
        background-image: url("../images/icons/right-arrow-orange.svg");
        background-size: 40%;
        top: calc(50% - 20px);
    }
    .product_preview-nav .slick-arrow.arrow-left{
        right: 40px;
    }
    .product_preview-nav .slick-arrow.arrow-right{
        left: 40px;
        transform: rotate(180deg);
    }
    .product_preview-nav .slick-arrow.arrow-left:hover,
    .product_preview-nav .slick-arrow.arrow-right:hover{
        background-image: url("../images/icons/right-arrow-white.svg");
        background-color: #f56d01;
        background-position: 65% 50%;
    }
    .catalog_list-content + .catalog_list-content{
        margin-top: 50px;
    }
    .catalog_item-price{
        font-size: 155%;
    }
    .catalog_item-price.old_price{
        font-size: 129%;
    }
    .banner {
        padding: 50px 100px;
    }
    .gallery-item{
        width: 20%;
        height: 316px;
        font-size: 72%;
    }
    .gallery-item-description{
        bottom: 25px;
        left: 35px;
        right: 35px;
    }
    .main_map{
        height: 800px;
    }
    .footer_copyright{
        padding: 20px 0 25px;
        margin-top: 50px;
    }
    .popup_content {
        width: 660px;
        max-height: 95vh;
    }
    .popup_content.small{
        width: 440px;
    }
    .popup_content.product{
        width: 85%;
        max-width: 1200px;
    }
    .popup_content.favorite_list_wrap{
        transition: right .5s;
        right: -600px;
        width: 600px;
        height: 100vh;
        max-height: none;
    }
    .popup_content.favorite_list_wrap.animate{
        right: 0;
    }
    .popup_content.favorite_list_wrap .btn{
        padding-left: 30px;
        padding-right: 30px;
    }
    .popup_content-inner{
        padding: 50px 70px;
    }
    .popup_content.favorite_list_wrap .popup_content-inner{
        height: 100vh;
    }
    .content_tab{
        margin-bottom: 30px;
    }
    .footer {
        padding-top: 55px;
    }
    .footer .logo{
        margin-bottom: 30px;
    }
    .footer_menu{
        margin-bottom: 60px;
    }
    .footer_menu-item + .footer_menu-item{
        margin-top: 5px;
    }
    .footer_shops{
        margin: 138px 0 23px;
    }
    .catalog_detail{
        margin-top: 30px;
    }
    .catalog_detail-description .catalog_item-price{
        font-size: 200%;
    }
    .catalog_detail-description-item .btn{
        padding-left: 20px;
        padding-right: 111px;
    }
    .gallery-title{
        font-size: 133.3333%;
    }
    .gallery-bottom{
        margin-top: 30px;
        padding-top: 30px;
    }
    .gallery-bottom > * + * {
        margin-left: 20px;
    }
    .content_tab-item{
        font-size: 85.7%;
    }
    .content_tab-item{
        padding: 24px;
    }
    .catalog_detail-tab-item{
        padding: 27px 35px;
    }
    .catalog_detail-tab-item:first-child{
        padding-left: 0;
    }
    .catalog_detail-tab-inner{
        padding: 45px 0 80px;
    }
    .catalog_menu-wrap{
        top: -700%;
        left: 0;
        width: 100%;
        opacity: 0;
        z-index: -1;
    }
    .catalog_menu-wrap.active{
        top: 100%;
        opacity: 1;
        z-index: 1;
    }
    .catalog_menu-nav{
        width: 82px;
    }
    .catalog_menu-nav-item{
        display: block;
        border: 1px solid #d6d6d6;
        border-top: 0;
        border-left-color: #f6f6f6;
        padding: 25px 8px;
        height: 135px;
    }
    .catalog_menu-nav-item:hover,
    .catalog_menu-nav-item.active{
        box-shadow: 0 0 15px #e1e1e1;
        border-bottom-color: #f6f6f6;
    }
    .catalog_menu-main{
        width: calc(100% - 82px);
        z-index: 2;
        position: relative;
        background-color: #fff;
        border-top: 1px solid #f1f1f1;
        border-bottom: 1px solid #f1f1f1;
        box-shadow: 0 0 15px #e1e1e1;
    }
    .catalog_menu-item{
        width: calc(50% / 3);
        height: 200px;
        border-right: 1px solid #f7f7f7;
        border-bottom: 1px solid #f7f7f7;
        padding: 50px 30px;
    }
    .catalog_menu-item:hover{
        background-color: #fff;
        box-shadow: 0 0 15px #e1e1e1;
    }
    .catalog_menu-item,
    .catalog_menu-nav-item{
        text-align: center;
        line-height: 1.2;
        font-size: 87.5%;
        transition-property: box-shadow, background-color;
        transition-duration: .3s;
    }
    .catalog_menu-nav-item > img,
    .catalog_menu-item > img,
    .catalog_menu-img,
    .catalog_menu-nav-img{
        display: block;
        margin-bottom: 10px;
    }
    .catalog_menu-img{
        height: 90px;
    }
    .catalog_menu-nav-img{
        height: 45px;
    }
    .product_preview-nav{
        margin-top: 10px;
    }
    .product_preview-nav,
    .product_preview-nav-item{
        height: 130px;
    }
    .product_preview-description{
        padding-left: 45px;
    }
    .product_preview-img_big{

    }
    .product_preview-img_big-item{
        height: 656px;
    }
    .product_preview .product_preview-img_big-item{
        height: 393px;
    }
    .catalog_color-item + .catalog_color-item{
        margin-left: 20px;
    }
    .breadcrumbs{
        padding: 15px 0;
    }
    .delivery-payment-descr{
        width: 64%;
        padding: 20px 40px;
        margin-bottom: 50px;
    }
    .delivery-payment-info-item {
        padding: 6%;
    }
    .delivery-payment-info-item:first-child{
        width: 43%;
    }
    .delivery-payment-info-item:first-child .title-4 {
        margin-bottom: 30px;
    }
    .delivery-payment small{
        margin-bottom: 20px;
    }
    .delivery-payment-info-item:nth-child(2){
        width: 53%;
    }
    .delivery-payment-info-item .title-2{
        margin-bottom: 25px;
    }
    .delivery-payment-table {
        margin-top: 50px;
    }
    .delivery-payment-table td{
        padding: 20px;
    }
    .delivery-payment-table-descr{
        margin-left: 35px;
    }
    .company-employees-photo{
        margin-bottom: 70px;
    }
    .company-info-item:first-child{
        padding: 50px;
    }
    .company-info-item .title-2{
        margin-bottom: 25px;
    }
    .company-text {
        margin-top: 60px;
    }
    .company-galary {
        margin-top: 30px;
    }
    .company-galary-item{
        padding: 30px 30px 0 30px;
        min-height: 200px;
    }
    .company-galary-item img {
        margin-bottom: 20px;
        height: 90px;
    }
    .title-1 + .feedback-btn{
        margin-top: -46px;
    }
    .feedback-list {
        margin-top: 30px;
        margin-bottom: 50px;
    }
    .feedback-list-item{
        padding: 30px 50px;
        margin-bottom: 20px;
    }
    .user-info-txt {
        margin-bottom: 50px;
    }
    .feedback-list-item img {
        height: 150px;
    }
    .feedback-stars {
        margin-bottom: 15px;
    }
    .feedback-like i {
        margin-right: 10px;
    }
    .feedback-empty{
        height: 560px;
    }
    .form-item-rate {
        margin-right: 20px;
    }
    .file_input label{
        padding: 28px 0;
    }
    .basket-info {
        margin-bottom: 40px;
    }
    .basket-txt {
        padding: 30px 70px;
        margin-top: 50px;
    }
    .basket-txt.basket-txt-header{
        margin-top: 0;
    }
    .basket-txt .catalog_item-price > *:first-child {
        padding-right: 10px;
    }
    .basket-txt .catalog_item-price > *:last-child {
        padding-left: 10px;
    }
    .basket-item {
        padding: 60px 100px;
    }
    .basket-item + .basket-item{
        margin-top: 20px;
    }
    .basket-steps {
        padding: 60px;
        margin-top: 70px;
    }
    .basket-steps-item {
        padding: 50px 100px;
    }
    .basket-steps-item:nth-child(2){
        border-left: 1px solid #ebebeb;
    }
    .basket-steps-item:not(:last-child){
        border-bottom: 1px solid #ebebeb;
    }
    .basket-steps-item:last-child {
        margin-left: -60px;
        margin-right: -60px;
        padding: 50px 60px;
        width: calc(100% + 120px);
    }
    .basket-steps-item .catalog_item-price {
        margin: 10px 0 30px 0;
    }
    .basket-steps-item .def_form-item + .def_form-item:last-child {
        margin-top: 10px;
    }
    .step-label {
        padding: 20px 22px;
    }
    .basket-payment {
        margin-bottom: 95px;
    }
    .basket-txt-politic {
        margin-top: 20px;
    }
    .catalog_label{
        padding: 13px 27px;
    }
    * + .catalog_label.catalog_label-detail{
        margin: 0 0 0 25px;
    }
    [flex-align] .catalog_label + *{
        margin-left: 10px;
    }
    .catalog_label + .title-2.for_label{
        margin-top: 20px;
    }
    .catalog_list-top{
        padding: 26px 0 26px 25px;
    }
    .catalog_list-top-links > a + a{
        margin-left: 20px;
    }
    .catalog_filter-inner-content,
    .catalog_list-content{
        padding-top: 30px;
        padding-left: 15px;
    }
    .catalog_list.col-lg-24 .catalog_list-content{
        padding-left: 0;
    }
    .catalog_list-slider{
        margin-left: -15px;
        margin-right: -15px;
    }
    .catalog_list-slider:not(.slick-slider){
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .catalog_list-slider .catalog_item{
        width: calc(33.3333% - 30px);
    }
    .catalog_list.filter_inctive .catalog_list-slider .catalog_item{
        width: calc(25% - 30px);
    }
    .catalog_filter-inner-content{
        padding-right: 15px;
        padding-bottom: 30px;
    }
    .catalog_filter-item + .catalog_filter-item{
        margin-top: 30px;
    }
    .catalog_filter-item input[type="text"],
    .catalog_filter-item select{
        padding: 11px 15px;
    }
    .catalog_filter-title{
        margin-bottom: 15px;
        font-size: 114%;
    }
    .catalog_filter-item .noUi-horizontal{
        margin-top: 20px;
    }
    .catalog_detail-description-item{
        padding-right: 50px;
        margin-right: 50px;
        /*width: calc(20% - 30px);*/
        border-right: 1px solid #fff;
    }
    .news_list{
        margin-left: -12px;
        margin-right: -12px;
        margin-bottom: 20px;
    }
    .news_list-item{
        width: calc(25% - 24px);
        padding: 35px;
        border: 1px solid #f7f7f7;
        transition: box-shadow .3s;
        margin: 0 12px 30px;
    }
    .news_list-item:hover{
        box-shadow: 0 0 15px #e1e1e1;
    }
    .news_list-img{
        height: 200px;
    }
    .news_list-desc{
        line-height: 1.2;
    }
    .news_list_slider .slick-track{
        display: flex;
        align-items: stretch;
        flex-wrap: wrap;
    }
    #map{
        height: 800px;
    }
    .catalog_list-top .dropdown-btn{
        margin: -26px 0;
        padding: 26px 40px;
    }
    .dropdown-content_inner{
        padding: 30px 50px;
    }
    .articles_list{
        margin-left: -15px;
        margin-right: -15px;
    }
    .catalog_detail-description + .articles_list{
        margin-top: 70px;
    }
    .articles_list-item{
        margin: 0 15px;
        width: calc(25% - 30px);
    }
    .articles_list-img{
        height: 150px;
    }
    .header_search{
        overflow: hidden;
    }
    .header_search input{
        border: 0;
        padding: 0 0 0 1px;
        width: 1px;
        transition: width .5s;
    }
    .header_search:hover input{
        width: 470px;
    }
    .header_search-btn{
        padding: 0;
        margin: 0;
        border: 0;
    }
    .header_search:hover input + .header_search-btn{
        margin-left: 32px;
    }
    .btn_list .btn:not(.color){
        padding-left: 30px;
        padding-right: 30px;
    }
    .btn_list-block + .btn_list-block{
        margin-left: 40px;
    }
    .btn_list-block .btn + .btn{
        margin-left: 18px;
    }
    .cart_buy-qnt{
        border: 1px solid #f8f8f8;
        height: 66px;
        margin: 0!important;
        text-align: center;
    }
    .cart_buy-qnt:not([type]){
        width: 66px;
        line-height: 66px;
        color: #b2b2b2;
        text-decoration: none;
        transition-property: background-color, color, box-shadow;
        transition-duration: .3s;
    }
    .cart_buy-qnt:not([type]):hover{
        background-color: #f56d01;
        border-color: #f56d01;
        color: #fff!important;
        box-shadow: 0 0 15px #e1e1e1;
    }
    .cart_buy-qnt[type]{
        width: 100px;
        padding-left: 20px;
        padding-right: 20px;
    }
    * + .favorite_list{
        margin-top: 55px;
    }
    .favorite_list .catalog_item + .catalog_item{
        margin-top: 20px;
    }
}

@media screen and (min-width:1450px){
    .catalog_section-item {
        height: 198px;
    }
}
