.icon{
    position: relative;
    display:inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-size: contain;
    transition:.3s opacity;
}
.icon .icon-inner{
    position: absolute;
    top: -10px;
    right: -10px;
    font-size: 11px;
    line-height: 19px;
    width: 17px;
    height: 17px;
    text-align: center;
    color: #fff;
    background-color: #f56d01;
    border-radius: 100%;
    font-style: normal;
}
.icon-burger{
    width: 18px;
}
.icon-burger > hr{
    margin: 0;
    padding: 0;
    border:0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    border-radius: 5px;
    transition: width .3s;
}
.header-menu_btn:hover .icon-burger > hr:nth-child(2),
.header-menu_btn.active .icon-burger > hr:nth-child(2){
    width: 75%;
}
.header-menu_btn:hover .icon-burger > hr:nth-child(3),
.header-menu_btn.active .icon-burger > hr:nth-child(3){
    width: 50%;
}
.icon-burger > hr + hr{
    margin-top: 4px;
}
.icon-search{
    width: 18px;
    height: 18px;
    background-image: url('../images/icons/search.png');
}
.icon-favorite,
.icon-favorite-white,
.icon-favorite-full,
.icon-like-black {
    width: 18px;
    height: 18px;
}
.icon-favorite{
    background-image: url('../images/icons/favorite.png');
}
.icon-favorite-white{
    background-image: url('../images/icons/favorite-white.png');
}
.icon-like-black {
    background-image: url('../images/icons/icon-like-black.png');
}
.gallery-item:hover .icon-favorite-white,
.btn:hover .icon-favorite{
    background-image: url('../images/icons/favorite-active.png');
}
.icon-favorite-full{
    background-image: url('../images/icons/favorite-full.png');
}
.icon-basket{
    width: 18px;
    height: 18px;
    background-image: url('../images/icons/basket.png');
}
.icon-arrow,
.icon-arrow-orange{
    width: 18px;
    height: 13px;
    background-size: 18px 13px;
    background-position: 50% 50%;
}
.icon-arrow,
.btn:hover .icon-arrow-orange{
    background-image: url('../images/icons/right-arrow.png');
}
.icon-arrow-orange{
    background-image: url('../images/icons/right-arrow-orange.png');
}
.btn .icon-arrow,
.btn .icon-arrow-orange{
    position: absolute;
    top: -1px;
    height: calc(100% + 2px);
    border-left: 1px solid #f56d01;
    transition-property: background-position, box-shadow;
    transition-duration: .3s;
}
.btn.color .icon-arrow,
.btn.color .icon-arrow-orange{
    background-color: #f56d01;
    border-color: #fff;
}
.btn:hover .icon-arrow,
.btn:hover .icon-arrow-orange{
    background-position: 65% 50%;
    border-color: #fff;
}
.icon-chat{
    width: 18px;
    height: 17px;
    background-image: url('../images/icons/chat.png');
}
.gallery-item:hover .icon-chat{
    background-image: url('../images/icons/chat-active.png');
}
.icon-message{
    width: 18px;
    height: 12px;
    background-image: url('../images/icons/message.png');
}
.icon-close{
    position: relative;
    width: 22px;
    height: 22px;
}
.icon-close:before,
.icon-close:after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 2px;
    transition: transform .3s;
    background-color: #f56d01;
}
.icon-close:before {
    transform: rotate(45deg);
}
.icon-close:after {
    transform: rotate(-45deg);
}
.icon-close:hover:before {
    transform: rotate(135deg);
}
.icon-close:hover:after {
    transform: rotate(45deg);
}
.icon-star,
.icon-star_full,
.icon-star-gray-empty,
.icon-star-black
{
    width: 18px;
    height: 18px;
}
.icon-star{
    background-image: url('../images/icons/star-full.png');
}
.icon-star_full{
    background-image: url('../images/icons/star-full.png');
}
.icon-star-gray-empty {
    background-image: url('../images/icons/icon-gray-empty.png');
}
.icon-star-black {
    background-image: url('../images/icons/icon-star-black.png');
}
.icon-file {
    width: 16px;
    height: 16px;
    background-image: url('../images/icons/picture.svg');
}