html, body {
    margin:0;
    padding:0;
    overflow-x: hidden!important;
}
body {
    position: relative;
    font-family: Gilroy;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
    background: #fff;
    color: #101010;
}
* { box-sizing: border-box; }
*:focus{ outline:none!important; }
p { margin:0 0 20px; }
a {
    color: inherit;
    transition: color .3s;
    text-decoration:none;
}
a:hover,
.pseudo_link:hover{
    color: #ce5d03!important;
}
.hover-opacity{
    transition: .3s opacity;
}
.hover-opacity:hover{
    opacity: .5;
}
ul, ol {
    margin:0 0 20px 20px;
    padding:0;
}
ul ul{
    margin-bottom: 0;
}
li{
    margin:0;
    padding:0;
}
img { max-width:100%; max-height: 100%; }
input, textarea, select, button{
    font-size: 100%;
    font-family: Gilroy;
}
input, select, button{
    line-height: 1;
}
button {
    background-color: transparent;
}
input, textarea{
    background-color: #fff;
    color: #101010;
}
input, textarea{
    border: 1px solid #d2d2d2;
}
input.error, textarea.error, select.error{
    border: 1px solid red;
}
input, select, textarea, button{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
select.inline{
    border: 1px solid #8b8b8b;
    padding: 5px 13px;
    border-radius: 0;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%3E%3Ctitle%3Edown-arrow%3C%2Ftitle%3E%3Cg%20fill%3D%22%23000000%22%3E%3Cpath%20d%3D%22M10.293%2C3.293%2C6%2C7.586%2C1.707%2C3.293A1%2C1%2C0%2C0%2C0%2C.293%2C4.707l5%2C5a1%2C1%2C0%2C0%2C0%2C1.414%2C0l5-5a1%2C1%2C0%2C1%2C0-1.414-1.414Z%22%20fill%3D%22%23000000%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    background-size: 8px;
    background-position: calc(100% - 8px) 50%;
    background-repeat: no-repeat;
    background-color: transparent;
}
textarea{
    min-height: 115px;
    display: block;
}
button, [type='submit']{
    cursor: pointer;
}
small{
    color: #cccccc;
    font-size: 85.7%;
    display: block;
}
hr.section_hr{
    margin: 0;
    border: 0;
}
hr.default_hr{
    border: 0;
    height: 1px;
    background-color: #e8e8e8;
}
[flex-align='center']{
    display:flex;
    align-items: center;
}
[flex-align='start']{
    display:flex;
    align-items: flex-start;
}
[flex-align='stretch']{
    display:flex;
    align-items: stretch;
}
[flex-wrap="wrap"] {
    flex-wrap: wrap;
}
[flex-text_align='center']{
    justify-content: center;
}
[flex-text_align='space-around']{
    justify-content: space-around;
}
[flex-text_align='space-between']{
    justify-content: space-between;
}
[flex-text_align='start']{
    justify-content: flex-start;
}
[flex-text_align='end']{
    justify-content: flex-end;
}
[align='center']{
    text-align: center;
}
[align='right']{
    text-align: right;
}
.container{
    margin:0 auto;
}
.link,
.grey_link.active{
    color: #f56d01;
}
.grey_link{
    color: #7f7f7f;
}
.light_grey_link{
    color: #ccc;
}
.clearfix:after {
    display:table;
    content:" ";
    clear:both;
}
.btn{
    position: relative;
    display: inline-block;
    border: 1px solid #f56d01;
    color: #f56d01;
    transition-property: background-color, color, box-shadow;
    transition-duration: .3s;
}
.btn.color,
.btn:hover{
    background-color: #f56d01;
    border-color: #f56d01!important;
    color: #fff!important;
}
.btn:hover{
    box-shadow: 0 0 15px #e1e1e1;
}
.btn.grey,
.btn.grey_full{
    color: #8e8e8e;
    border: 1px solid #cacaca;
}
.btn.grey_full:hover,
.btn.grey_full.active{
    background-color: #8b8b8b;
    border-color: #8b8b8b!important;
}
.btn.light_grey{
    color: #8e8e8e;
    border: 1px solid #d2d2d2;
}
.btn.dark_grey{
    color: #323232;
    border: 1px solid #323232;
}
.btn.grey_white{
    color: #707070;
    border: 1px solid #f5f5f5;
}
.btn.grey_white:hover{
    color: #707070!important;
    background-color: #fff;
    border-color: #fff!important;
}
.btn.grey_white .icon + span{
    margin-left: 8px;
}
.slick-slide{
    float: left;
}
.upper{
    text-transform: uppercase;
}
.medium{
    font-weight: 400!important;
}
.light{
    font-weight: 300!important;
}
.no-m{
    margin: 0!important;
}
.color-grey{
    color: #959595;
}
.dashed{
    border-bottom: 1px dashed;
}
.pseudo_link{
    cursor:pointer;
}
.title-1,
.title-2,
.title-3,
.title-4{
    font-weight: 700;
}
.title-5{
    font-weight: 500;
}
.animate-start{
    opacity: 0;
    transition-property: transform, opacity;
    transition-duration: 0.8s;
    transition-timing-function: ease;
    -ms-transform: translate(0, -40px);
    transform: translate(0, -40px);
    transition-delay: .1s;
}
.animate{
    opacity: 1;
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}
.input_icon{
    position: relative;
}
.input_icon > .icon{
    position: absolute;
}
.short_info{
    line-height: 1.1;
}
p.short_info{
    margin-bottom: 0;
}
.icon_text .icon + span{
    margin-left: 8px;
}
.opacity{
    opacity: .3;
}
.placeholder_wrap{
    position: relative;
}
.placeholder_wrap input{
    padding-left: 45px!important;
}
.placeholder_wrap .placeholder{
    position: absolute;
    top: 11px;
    left: 27px;
}
.section.first{
    padding-top: 0;
}
.section.last{
    padding-bottom: 0;
}
.header{
    z-index: 1;
    position: relative;
}
.header-part{
    position: relative;
    z-index: 2;
    background-color:#fff;
}
.header-part:first-child{
    background-color:#e9e9e9;
}
.header-part.fixed{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    box-shadow: 0px 0px 10px #eee;
}
.header-part .container{
    display: flex;
    flex-wrap: wrap;
}
.header-part:nth-child(1) .container{
    align-items: center;
    justify-content: space-between;
}
.header-part:nth-child(2) .container{
    align-items: stretch;
    justify-content: space-between;
}
.header-col{
    border-right: 1px solid #ebebeb;
    border-left: 1px solid #ebebeb;
    transition: box-shadow .3s;
}
.header-col:not(:last-child) {
    margin-right: -1px;
}
.header-col:hover{
    box-shadow: 0px 0px 15px #e1e1e1;
    border-color: transparent;
}
.header-menu{

}
.header-menu-item{
    position: relative;
    line-height: 1;
    background-color: transparent;
    color: inherit!important;
    transition-property: background-color, box-shadow;
    transition-duration: .3s;
}
.header-contacts span,
.header-menu-item{
    font-size: 85.7%;
}
.header-contacts span + *{
    margin-left: 15px;
}
.header-menu_btn{
    background-color: #f56d01;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: box-shadow .3s;
    height: 100%;
}
.header-menu_btn:hover{
    box-shadow: 0 0 15px #e1e1e1;
}
.logo{
    display: flex;
    align-items: center;
}
.logo.bg{
    background-repeat: no-repeat;;
    background-size: 100% auto;
    background-position: 50% 50%;
    background-image: url('../images/logo.svg');
}
ymaps .logo{
    padding: 20px 30px;
}
.logo > img{
    margin-right: 10px;
}
.header-slogan{
    color: #f56d01;
    font-size: 90%;
}
.header-slogan-title{
    font-size: 130%;
    line-height: 1.2;
    color: #222222;
}
.main_slider{
    position: relative;
    overflow:hidden;
}
.main_slider-item{
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}
.main_slider-description{

}
.main_slider-description-head .link{
    font-weight: 500;
}
.main_slider-description-title{
    font-weight: 700;
}
.main_slider-description-price{

}
.main_slider-description-price s{
    color: #9f9f9f;
    font-size: 75%;
}
.catalog_item,
.catalog_section-item{
    position: relative;
    display: block;
    border: 1px solid #e4e4e4;
    transition-property: box-shadow, opacity;
    transition-duration: .3s;
    background-color: #fff;
}
.catalog_item{
    overflow: hidden;
}
[items-count="1"] .catalog_item{
    width: 100%;
}
[items-count="2"] .catalog_item{
    width: calc(50% - 10px);
}
[items-count="3"] .catalog_item{
    width: calc(33.3333% - 30px);
}
[items-count="4"] .catalog_item{
    width: calc(25% - 10px);
}
.catalog_item-block:last-child{
    margin-bottom: 0;
}
.catalog_item-img{
    position: relative;
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
}
* + .sale_label.inline{
    margin-left: 5px;
}
.sale_label + .catalog_item-price{
    margin-left: 10px;
}
.catalog_item-price > s{
    color: #cccccc;
    font-size: 80%;
}
.catalog_item-price .sale_label{
    margin: 0 5px;
}
.catalog_item-hover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
}
.catalog_slider,
.catalog_list-slider{
    position: relative;
    z-index: 1;
}
.catalog_slider .slick-slide:not(.slick-active),
.catalog_slider .slick-disabled,
.catalog_list-slider .slick-slide:not(.slick-active),
.catalog_list-slider .slick-disabled{
    opacity: 0.3;
}
.banner{
    background-color: #e9e9e9;
}
.banner-description{

}
.banner-title{
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 10px;
}
.gallery{

}
.gallery-item{
    position: relative;
    color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
}
.gallery-item:after{
    content: "";
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0px;
    transition: height .3s;
    background-color: rgba(0, 0, 0, 0.5);
}
.gallery-item:hover:after{
    height: 100%;
}
.gallery-item-description{
    position: absolute;
    z-index: 2;
}
.gallery-title{
    line-height: 1.2;
    margin-bottom: 10px;
}
.gallery-bottom{
    border-top: 1px solid #818181;
}
.gallery-item .link{
    font-size: 133.3333%;
}
.footer{
    background: #f7f7f7;
}
.footer .btn{
    padding-left: 0;
    padding-right: 0;
}
.footer small{
    color: #767676;
}
.footer_socials-item{
    width: 41px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: 50% 50%;
}
.footer_socials-item  > svg path{
    transition: fill .3s;
}
.footer_socials-item:hover > svg path{
    fill: #f56d01;
}
.footer_logo-item{
    max-width: 60px;
}
.footer_socials-item+ .footer_socials-item,
.footer_logo-item + .footer_logo-item{
    margin-left: 10px;
}
.footer_copyright{
    font-size: 71.4%;
    color: #767676;
}
.footer_copyright{
    border-top: 1px solid #dedede;
}
.developers a{
    color: #004eff;
    transition: .3s color;
    text-decoration: underline;
}
.developers a:hover{
    color: #427bfd!important;
}
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 999;
}
.popup_wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.popup_content {
    position: relative;
    background-color: #fff;
}
.popup_content-inner{
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
}
.popup_content-close {
    width: 22px;
    height: 22px;
    position: absolute;
    top: 0;
    right: -50px;
    z-index: 2;
}
.popup_content-success{
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background-color: #e7fcff;
    z-index: 3;
    transition: left .3s;
}
.popup_content-success.active{
    left: 0;
}
.popup_content-success-title{
    margin-bottom: 25px;
    font-size: 175%;
}
.popup_content-success > div{
    width: 100%;
    height: 100%;
}
.def_form{

}
.def_form-item{

}
.def_form-item + .def_form-item{
    margin-top: 10px;
}
.def_form-item + .def_form-item:last-child{
    margin-top: 20px;
}
.content_tab{

}
.catalog_detail-tab{
    position: relative;
}
.catalog_detail-tab.first-btn-clicked .catalog_detail-tab-btns:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    height: 77px;
    background-color: #f2f2f2;
    z-index:1;
}
.catalog_detail-tab-inner{
    background-color: #f2f2f2;
}
.content_tab-item,
.catalog_detail-tab-item{
    color: #979797;
}
.content_tab-item{
    background-color: transparent;
    transition-property: background-color, color;
    transition-duration: .3s;
}
.catalog_detail-tab-item{
    background-color: #fff;
    z-index: 2;
}
.content_tab-item.active,
.catalog_detail-tab-item.active{
    color: inherit;
}
.content_tab-item.active{
    background-color: #e7fcff;
}
.catalog_detail-tab-item.active{
    background-color: #f2f2f2;
}
.catalog_menu-wrap{
    position: absolute;
    transition: top .5s;
}
.catalog_menu{
    background-color: #fff;
}
.catalog_menu-nav-item > img,
.catalog_menu-item > img{
    margin-left: auto;
    margin-right: auto;
}
.catalog_menu-img,
.catalog_menu-nav-img{
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
}
.mark{

}
.product_preview{

}
.product_preview .btn{
    padding-left: 10px;
    padding-right: 10px;
}
.product_preview-nav{
    position: relative;
    overflow: hidden;
    background-color: #f8f8f8
}
.product_preview-nav .slick-list,
.product_preview-img_big .slick-list{
    overflow: hidden;
}
.product_preview-nav-item{
    transition: opacity .3s;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}
.product_preview-nav-item:hover,
.product_preview-nav-item.slick-current{
    border-color: #f8994d
}
.product_preview-img_big{
    overflow: hidden;
    background-color: #f8f8f8
}
.product_preview-img_big-item{
    height: 100%;
}
.product_preview-nav-item,
.product_preview-img_big-item{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
}
.product_preview-description{
    position: relative;
    /*overflow: hidden;*/
}
.product_preview-additional{
    position: absolute;
    top: 0;
    left: 100%;
    width: 50%;
    height: 100%;
    background-color: #e7fcff;
    transition: left .3s;
}
.popup_content.product.active .product_preview-additional{
    left: 50%;
}
.catalog_color{

}
.catalog_color-item{

}
.catalog_color-color{
    width: 25px;
    height: 25px;
    border: 1px solid #8e8e8e;
    transition: border .3s;
}
.catalog_color-color + *{
    width: calc(100% - 35px);
    margin-left: 10px;
}
.breadcrumbs {
    background-color: #e9e9e9;
    font-size: 75%;
}
.breadcrumbs a {
    color: #a4a4a4;
}
.breadcrumbs-item:last-child a{
    color: #535353;
}
.delivery-payment-descr {
    background-color: #e7fcff;
    line-height: 1.25;
}
.delivery-payment-descr p {
    margin-bottom: 0;
}
.delivery-payment-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.delivery-payment-info-item:first-child {
    border: 1px solid #f56d01;
    line-height: 1.25;
}
.delivery-payment small{
    color: #000;
}
.delivery-payment-info-item:nth-child(2) {
    padding: 0;
    border: 1px solid #d2d2d2;
    box-shadow: 0 0 15px #e1e1e1;
}
.delivery-payment-table table {
    border-collapse: collapse;
    text-align: center;
    font-size: 114.2%;
}
.delivery-payment-table td {
    border: 1px solid #d2d2d2;
}
.delivery-payment-table-descr {

}
.company-employees-photo {
    width: 100%;
}
.company-info-item:first-child {
    background-color: #e7fcff;
}
.company-info-item:last-child {
    align-self: center;
}
.company-galary-item {
    align-self: center;
    transition: box-shadow .3s;
}
.company-galary_img{
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    height: 90px;
}
.company-galary-item p {
    margin-top: 20px;
    margin-bottom: 0;
    line-height: 1.2;
}

.company-galary-item:hover {
    box-shadow: 0 0 15px #e1e1e1;
}
.feedback-btn {
    display: flex;
    justify-content: flex-end;
}
.feedback-list-item {
    background-color: #f5f5f5;
}
.catalog_detail-tab .feedback-list-item{
    background-color: #fff;
}
.user-info-txt {
    font-size: 14px;
}
.feedback-list-item p {
    margin: 0!important;
}
.feedback-like {
    font-size: 14px;
}
.file_input {

}
.file_input label {
    display: block;
    border: 1px solid #d2d2d2;
    line-height: 1.25;
    text-align: center;
}
.file_input label i + * {
    margin-top: 15px;
}
.file_input input[type='file'] {
    opacity: 0;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: 0;
}
.basket-txt {
    background-color: #e7fcff;
    line-height: 1;
}
.basket-txt .catalog_item-price {
    position: relative;
    z-index: 1;
    border-bottom: 1px solid #ebebeb;
}
.basket-txt .catalog_item-price > * {
    position: relative;
    z-index: 2;
    top: 1px;
    background-color: #e7fcff;
}
.basket-item,
.basket-steps{
    border: 1px solid #ebebeb;
}
.basket-steps-item:first-child {
    border-right: 1px solid #ebebeb;
}
.basket-steps-item:last-child {
    border-top: 1px solid #ebebeb;
}
.step-label {
    background-color: #a0a0a0;
    color: #fff;
}
.step-label.active {
    background-color: #e7fcff;
    color: #000000;
}
.basket-icon:not(.active) {
    opacity: 0.3;
}
.basket-txt-politic a {
    text-decoration: underline;
}

.catalog_section{

}
.catalog_section-item{

}
.catalog_section-item:hover{
    box-shadow: 0px 0px 10px #adabab;
}
.catalog_label{
    background-color: #e7fcff;
    display: inline-block;
}
.catalog_list{
    /*transition: width .3s;*/
}
.catalog_list-top,
.catalog_filter .btn{
    line-height: 1;
}
.catalog_list-top{
    background-color: #f5f5f5;
}
.catalog_list-top-links{

}
.catalog_checkbox{
    position: relative;
    cursor: pointer;
}
.catalog_checkbox > input[type=checkbox]{
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.catalog_checkbox > label {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.catalog_checkbox > input[type=checkbox]:checked + label > .catalog_color-color{
    border: 8px solid #000;
}
.catalog_filter-inner-content{
    border: 1px solid #f5f5f5;
    border-top: 0;
}
.catalog_filter{
    position: relative;
}
.catalog_filter-inner{
    overflow: hidden;
    /*transition: height .3s;*/
    position: absolute;
    top: 100%;
    z-index: 1;
    background-color: #fff;
}
.catalog_filter .btn{
    padding-left: 0;
    padding-right: 0;
}
.catalog_filter-inner .btn + * {
    margin-top: 10px;
}
.catalog_filter-item{

}
.catalog_filter-item input,
.catalog_filter-item select{
    border-color: #8e8e8e;
}
.catalog_filter-option{
    margin-bottom: 5px;
}
.catalog_filter-options_list{
    overflow: hidden;
    transition: height .3s;
}
.catalog_filter-title{
    font-weight: 400;
}
.catalog_detail-description{

}
.sale_label{
    display: inline-block;
    padding: 3px 6px;
    text-align: center;
    background-color: #ff0100;
    color: #fff;
    font-size: 85.7%;
    line-height: 1;
    border-radius: 5px;
}
.system-popup{
    padding:15px 20px;
    background-color:#f56d01;
    color:#fff;
    display:flex;
    align-items:center;
    position:fixed;
    bottom:0;
    left:0;
    transition-property:transform;
    transition-duration:.5s;
    transition-timing-function:ease;
    -ms-transform:translate(-100%,0);
    transform:translate(-100%,0);
    transition-delay:.3s;
    z-index:1000;
    box-shadow:0 0 10px #414b79;
}
.system-popup.active{
    -ms-transform:translate(0,0);
    transform:translate(0,0)
}
.system-popup .icon{
    margin-right:5px
}
.news_list-img{
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    margin-bottom: 17px;
}
.news_list-img.default{
    background-size: contain;
}
.news_list-title{
    line-height: 1.2;
}
.news_list-date{
    color: #767676;
    margin-bottom: 10px;
}
.dropdown{
    position: relative;
}
.dropdown-btn{
    position:relative;
    transition-property: background-color, color;
    transition-duration: .3s;
}
.catalog_list-top .dropdown-btn.active{
    background-color: #f56d01;
    color: #fff!important;
}
.dropdown-btn:before,
.dropdown-btn:after{
    content:" ";
    position:absolute;
    right:-15px;
    border:4px solid transparent;
    transition:.3s all
}
.dropdown-btn:before{
    top:calc(50% - 2px);
    border-top:4px solid #101010;
    z-index:0
}
.dropdown-btn:after{
    top:calc(50% - 3px);
    border-top:4px solid #fff;
    z-index:1
}
.catalog_list-top .dropdown-btn:before,
.catalog_list-top .dropdown-btn:after{
    right: 25px;
}
.header-part .dropdown-btn:after{
    border-top-color: #e9e9e9;
}
.dropdown-btn.active:before,
.dropdown-btn.active:after{
    border-bottom:4px solid #101010;
    border-top-color:transparent
}
.dropdown-btn.active:before{
    border-bottom-color:#101010;
    top:20%
}
.catalog_list-top .dropdown-btn.active:before{
    top: calc(50% - 8px);
    border-bottom-color: #fff;
}
.dropdown-btn.active:after{
    border-bottom-color:#fff;
    top:calc(20% + 1px)
}
.catalog_list-top .dropdown-btn.active:after{
    top: calc(50% - 7px);
    border-bottom-color: #f56d01;
}
.header .dropdown_wrap{
    padding-right: 15px;
}
.dropdown-content{
    overflow: hidden;
    position: absolute;
    top: calc(100% + 25px);
    right: 0;
    width: 240px;
    box-shadow: rgb(173, 171, 171) 0 0 15px;
    z-index: 5;
    transition: .3s height;
}
.dropdown-content.big{
    width: 350px;
}
.dropdown-content_inner{
    background-color: #fff;
}
.dropdown-content-item + .dropdown-content-item{
    margin-top: 10px;
}
.loading{
    position:relative
}
.loading:before{
    content:" ";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:2;
    background-color:rgba(255,255,255,0.7);
    /*background-image:url("../images/icons/loading.gif");*/
    background-repeat:no-repeat;
    background-position:50% 50%;
    background-size:50px 50px
}
.list_block-item + .list_block-item{
    margin-top: 5px;
}
.articles_list-img{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
.articles_list-desc{
    line-height: 1.2;
}
.contact_block + .contact_block{
    margin-top: 25px;
}
.noUi-horizontal{
    height: 2px;
}
.noUi-target{
    background-color: #cecece;
}
.noUi-connect{
    background-color: #f56d01;
}
.noUi-horizontal .noUi-handle{
    width: 20px;
    height: 20px;
    top: -10px;
    background-color: #fff;
    border-radius: 100%;
    box-shadow: 0 0 15px #e1e1e1;
}
.noUi-horizontal .noUi-handle:before,
.noUi-horizontal .noUi-handle:after{
    content: '';
    position: absolute;
    top: 37%;
    background-color: #cccccc;
    height: 36%;
    width: 1px;
}
.noUi-horizontal .noUi-handle:before{
    left: calc(50% - 2px);
}
.noUi-horizontal .noUi-handle:after{
    right: calc(50% - 2px);
    left: auto;
}
